<html>
  <head>
    <title>
      VSQUARE
    </title>
  </head>
  <body>
    <style>
      .p2{
        display:block;
      }
      
      .h{
        display:block;
      }
      .b{
        margin-left:100px;
        cursor:pointer;
      }
    </style>
    <center>
    <h class="h">VSQUARE</h>
    <img src="https://hello--niharikavv1.repl.co/static/download.jpg">
    <h1>About VSQUARE</h1>
    <p1>Hello peeps, we are here to show to job openings in different sectors . Intrested candidates can apply</p1>
    <h2>Job Openings</h2>
    <p2 class = "p2">Data Analyst</p2>
    <p3 class = "p3">Bangalore,India</p3>
    <button class ="b">Apply</button>
    <p>---------------------------------------------------</p>
      
    <p2 class = "p2">Data Science Engineer</p2>
    <p3 class = "p3">Mumbai,India</p3>
       
    <button class ="b">Apply</button>
      
    <p>---------------------------------------------------</p>
    <p2 class = "p2">System Devoloper</p2>
    <p3 class = "p3">Hyderabad,India</p3>
    <button class ="b">Apply</button>
    <p>---------------------------------------------------</p>
    </center>
  </body>
</html>